@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

body,.cate-main {
  --sb-track-color: transparent;
  --sb-thumb-color: #c3c3c3;
  --sb-size: 14px;
  /* --sb-sizeH: 6px; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar,.cate-main::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}
body::-webkit-scrollbar-track, .cate-main::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb,.cate-main::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

/* @supports not selector(::-webkit-scrollbar) {
  body,.cate-main {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
} */
body:hover, .cate-main:hover {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
body:hover::-webkit-scrollbar-thumb, .cate-main:hover::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
.grid1 {
  width: 2776.7px;
}
.grid1:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 288.74px;
}
.grid-item {
  height: 388px;
  float: left;
}
.grid-item--width2 { width:  388px; }
.grid-item--width3 { width:  488px; }

.grid-item--height2 { height: 488px; }
.grid-item--height3 { height: 588px; }
.grid-item--height4 { height: 688px; }
@media (min-width: 640px) {
  
}